{#
 # The Homepage Template
 # 
 # @category Template
 # @package  Teuton\\WordpressXmlXsltFrontend
 # @license  CC-BY-NC-ND-4.0
 # @author   Erik Pöhler <info@teuton.mx>
 # @link     https://teuton.mx/
 #
 # We loop over simple products first, then over product variations - all products without meta_gp_title are excluded
 #
 # We use two macros here, one for pricing, the other for the product title
 #
-#}
{% extends "_layouts/page.twig" %}

{% block main %}
    {% for item in post %}
    <article class="post{{ item.id }}" data-id="{{ item.id }}">
        <a href="/{{ item.post_name }}/" title="{{ item.post_title }}">
            <time datetime="{{ item.post_date }}">{{ item.post_date|date('F jS, Y') }}</time>
            <h2>{{ item.post_title }}</h2>
            {{ item.post_excerpt|raw }}
            <p class="read-more">Read more →</p>
        </a>
    </article>
    {% endfor %}
{% endblock %}