{#
 # The Post Template
 # 
 # @category Template
 # @package  Teuton\\WordpressTwigFrontend
 # @license  CC-BY-NC-ND-4.0
 # @author   Erik Pöhler <info@teuton.mx>
 # @link     https://teuton.mx/
 #
-#}
{% extends "_layouts/page.twig" %}

{% block main %}
    {% for item in post %}
        {% if item.post_name is same as('hello-world') %}
        <article class="post{{ item.id }}" data-id="{{ item.id }}">
            <time datetime="{{ item.post_date }}">{{ item.post_date|date('F j, Y') }}</time>
            <h2>{{ item.post_title }}</h2>
            <p class="excerpt">{{ item.post_excerpt|raw }}</p>
            <div class="content">{{ item.post_content|raw }}</div>
        </article>
        {% endif %}
    {% endfor %}
{% endblock %}